/*External StyleSheet*/
a:link {text-decoration: none;}
a:hover {text-decoration: underline;font-size: 100%; color:orange;}


/* zach's shit */
fieldset {
  border: 1px solid #CCA383;
  width: 800px;
  background: #000000;
  display: block;
  margin: 0 auto 25px;
}
.row { font-family: "Lucida Console", Monaca, monospace; color: #00ff00; margin-bottom: 10px; }
.row label { display: inline-block; text-align: left; width: 200px; }
.row input, .row textarea { display: inline-block; width: 582px; }
.buttonarea { text-align: right; }
/***************/

iframe { 
border-width: 0;
width: 85%;
height: 50px;
display: block;
margin: 0 auto;
border-radius:9000%;

}

ul {color: red;}
ul.liststuff {list-style-image: url("chickenIcon.png");
		margin-left:2cm;
		 }
ol {list-style-image: url("chickenIcon2.png");}

body {background-color: RGBA(0,0,0, .9);
	 font-family:"Times New Roman",Georgia,Serif;}

body {
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}
p{font-family:"Lucida Console", Monaco, monospace;
	color:#00FF00;
	text-align:center;}
p.copy{font-size:60%;}

h1{font-family:"Lucida Console", Monaco, monospace;
	color:#00FF00;
	text-align: center;}
h2{font-family:"Lucida Console", Monaco, monospace;
	color:#00FF00;}
h4{font-family:"Lucida Console", Monaco, monospace;
	color:#00FF00;
	text-align:center;}
table{font-family:"Lucida Console", Monaco, monospace;
	color:#00FF00;
	text-align:center;
	margin:auto}

fieldset legend {
	background: #000000;
	padding: 6px;
	font-weight: bold;
	color:#00FF00;
}

fieldset strong {
	color: #00FF00;
	font-weight: bold;
	display: block;
	margin:auto;
	width: 150px;
	float: center;
}
.button{
	color:#00ff00;
	font-weight:bold;
	display:block;
	margin:auto;
	width:150px;
	float:center;
	}
.checkbox{
	color:#00ff00;
	display:block;
	margin:auto;
	width:750px;
	text-align:center;
	float:center;
	}
.radio{
	color:#00ff00;
	display:block;
	width:750px;
	text-align:center;
	float:center;
	}
.ddatalist{
	display:inline-block;
	clear:none;
	float:center;
	text-align:center;
	margin:auto;
}
